<h1>Add Car</h1>

<form action="/addCar" method="post">
  <fieldset>
    <legend>Personal information:</legend>
    Brand:<br>
    <input type="text" name="brand" placeholder="Add car brand"><br>
    Model:<br>
    <input type="text" name="model" placeholder="Add car model"><br>
    Year:<br>
    <input type="text" name="year" placeholder="Add car year"><br>
    image:<br>
    <input type="text" name="image" placeholder="Add car image"><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>