<h1>{{title}}</h1>
    <div class="container">
        <div class="meme">
            <a href="/getDetails?id=HJRGz0-hZ">
            <img class="memePoster" src="/memeStorage/1/ryeAMzAb2b.jpg">          
            </a>
        </div>
        
    </div>