<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
</head>

<body>

    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo"><img class="logo" src="/public/images/nodeLogo.png" alt="nodeLogo"></a>
                <input type="checkbox" id="nav" /><label for="nav"></label>
                <ul>
                    <li><a href="/addMovie">Add Movie</a></li>
                    <li><a href="/viewAllMovies">View All Movies</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <h1>Here are your movies</h1>
    <div class="container">
        <div id="replaceMe">
            <div class="movie">
                <img class="moviePoster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTBlOWZhZTctOTY0MC00Y2QyLTljMmYtZDkxZDFlMWU4Y2EyXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SY1000_CR0,0,675,1000_AL_.jpg"/>
            </div>
            <div class="movie">
                <img class="moviePoster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTkyNDQ1MDc5OV5BMl5BanBnXkFtZTgwOTcyNzI2MzI@._V1_.jpg"/>
            </div>
            <div class="movie">
                    <img class="moviePoster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDgzODM2MjUyMF5BMl5BanBnXkFtZTgwMzg4MjA1OTE@._V1_SY1000_CR0,0,679,1000_AL_.jpg"/>
            </div>
            <div class="movie">
                    <img class="moviePoster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BZjZlZDlkYTktMmU1My00ZDBiLWFlNjEtYTBhNjVhOTM4ZjJjXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg"/>
            </div>
        </div>
    </div>
</body>

</html>